<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam_detector</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Spam Detector</h1>
        <form id="spam-form">
            <textarea id="message" placeholder="Enter your email here..."></textarea>
            <button type="submit">Check Spam</button>
        </form>
        <div class="result" id="result"></div>
    </div>
</body>
<script src="../static/script.js"></script>
</html>